@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);@import url(https://fonts.googleapis.com/css?family=Ubuntu);@import url(https://fonts.googleapis.com/icon?family=Material+Icons);body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#loading {
  position: relative;
}

.dots {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  top: 30px;
  z-index: 1000;
}

.dot {
  top: 0;
  display: inline-block;
  margin-right: 15px;
  left: 0;
  width: 15px;
  height: 15px;
  z-index: 999;
  position: relative;
  border-radius: 15px;
  background: #018786;
}

.active {
  z-index: 1000;
  border-radius: 10px;
  width: 15px;
  position: absolute;
  background: #0079bf;
  -webkit-animation: dot_size 3.5s infinite, dot_move 3.5s infinite;
          animation: dot_size 3.5s infinite, dot_move 3.5s infinite;
}

@-webkit-keyframes move_down {
  0% {
    top: -190px;
  }

  100% {
    top: 0px;
  }
}

@keyframes move_down {
  0% {
    top: -190px;
  }

  100% {
    top: 0px;
  }
}

@-webkit-keyframes move_up {
  0% {
    top: 0px;
  }

  100% {
    top: -190px;
  }
}

@keyframes move_up {
  0% {
    top: 0px;
  }

  100% {
    top: -190px;
  }
}

@-webkit-keyframes dot_size {
  0% {
    width: 15px;
  }

  12.5% {
    width: 50px;
  }

  25% {
    width: 15px;
  }

  37.5% {
    width: 50px;
  }

  50% {
    width: 15px;
  }

  62.5% {
    width: 50px;
  }

  75% {
    width: 15px;
  }

  87.5% {
    width: 117px;
  }

  100% {
    width: 15px;
  }
}

@keyframes dot_size {
  0% {
    width: 15px;
  }

  12.5% {
    width: 50px;
  }

  25% {
    width: 15px;
  }

  37.5% {
    width: 50px;
  }

  50% {
    width: 15px;
  }

  62.5% {
    width: 50px;
  }

  75% {
    width: 15px;
  }

  87.5% {
    width: 117px;
  }

  100% {
    width: 15px;
  }
}

@-webkit-keyframes dot_move {
  0% {
    margin-left: 0px;
  }

  12.5% {
    margin-left: 0px;
  }

  25% {
    margin-left: 35px;
  }

  37.5% {
    margin-left: 35px;
  }

  50% {
    margin-left: 68px;
  }

  62.5% {
    margin-left: 68px;
  }

  75% {
    margin-left: 102px;
  }

  87.5% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes dot_move {
  0% {
    margin-left: 0px;
  }

  12.5% {
    margin-left: 0px;
  }

  25% {
    margin-left: 35px;
  }

  37.5% {
    margin-left: 35px;
  }

  50% {
    margin-left: 68px;
  }

  62.5% {
    margin-left: 68px;
  }

  75% {
    margin-left: 102px;
  }

  87.5% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

.dot:last-child {
  margin-right: 0;
}

.ocean {
  height: 30px;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: -8px;
  left: -8px;
  background: #202124;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wave {
  background: url("/../svg/wave.svg") repeat-x;
  position: absolute;
  top: -195px;
  width: 6400px;
  height: 198px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@-webkit-keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}

@keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}

html {
  background: #eee;
}

* {
  padding: 0;
  margin: 0;
}

button:focus {
  outline: 0;
}

nav div.left,
nav div.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 40px);
  position: absolute;
  bottom: 0px;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
  background: red;
}

nav div.center {
  -webkit-transform: translate(-50%, -33%);
          transform: translate(-50%, -33%);
  position: absolute;
  left: 50%;
}

nav div.center button {
  background: #03DAC6;
  border: none;
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 60px;
  padding-top: 5px;
  color: white;
}

nav div.left button.primary,
nav div.right button.primary {
  display: unset;
}

nav div.left button,
nav div.right button {
  border: none;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  color: #03DAC6;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
}

nav div.left button:hover,
nav div.right button:hover {
  background: #f4f4f4;
  -webkit-transition: 200ms;
  transition: 200ms;
}

nav div.left button.router-link-active,
nav div.right button.router-link-active {
  background: #eeeeee;
}

nav div.left button.router-link-active i,
nav div.right button.router-link-active i {
  color: #03DAC6;
}

nav div.left {
  left: 0;
}

nav div.right {
  right: 0;
}

@media only screen and (min-width: 600px) {
  nav {
    position: fixed;
    width: 80px;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    display: block;
  }

  nav div.left,
  nav div.right {
    width: 50px;
    position: relative;
    top: 10px;
    left: 20px;
    height: 50px;
  }

  nav div.left button,
  nav div.right button {
    border: none;
    background: none;
    color: #018786;
    max-width: 40px;
    position: relative;
    height: 40px;
    display: unset;
    padding-top: 3px;
    margin-bottom: 15px;
    border-radius: 40px;
  }

  nav div.left button i,
  nav div.right button i {
    font-size: 20px;
  }

  nav div.right {
    height: 100%;
    margin-top: 20px;
    display: inline-block;
  }

  nav div.center {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    position: relative;
    height: 50px;
    width: 50px;
    left: 15px;
    top: 0px;
    margin-top: 20px;
  }

  nav div.center button {
    width: 50px;
    height: 50px;
  }

  nav div.center button i {
    font-size: 20px;
  }
}

html {
  overflow-x: auto;
}

div.product-card {
  background: url(/images/stockphoto_students.png?68d1548bfdfb16d680d9130a216d6e29);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  min-width: 100vh;
  text-align: center;
}

div.product-card div.overlay {
  background: #0079bf;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

div.product-card div.content {
  position: absolute;
  top: 0;
  padding: 70px 0;
  height: 500px;
  width: 100%;
}

div.product-card div.content span.appname {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 40px;
  width: 100%;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

div.product-card div.content span.title {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 30px;
  display: block;
  width: 100%;
  margin-bottom: 80px;
  letter-spacing: 1.5px;
}

div.product-card div.content span.register {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 20px;
  width: 100%;
  letter-spacing: 1.5px;
  display: block;
  margin-bottom: 30px;
}

div.product-card div.content span.login {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 1.5px;
  display: block;
  font-weight: thin;
  margin-top: 120px;
}

div.product-card div.content span.login a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

button.register {
  padding: 10px 30px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 40px;
  letter-spacing: 1.5px;
  color: white;
  font-weight: bold;
  border: none;
  background: #3ed98d;
  border-radius: 50px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.card1,
.card2,
.card3,
.card4 {
  height: 600px;
  overflow: hidden;
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 60px;
}

.card1 > .screenshot,
.card2 > .screenshot,
.card3 > .screenshot,
.card4 > .screenshot {
  background: url(/images/ss_m.png?5245f7ad7fa0fb612ac070c5117e3ae8);
  background-size: cover;
  width: 350px;
  height: 450px;
  position: absolute;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  left: 50%;
  margin-top: 150px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.card1 > .screenshot1,
.card2 > .screenshot1,
.card3 > .screenshot1,
.card4 > .screenshot1 {
  background: url(/images/ss_m.png?5245f7ad7fa0fb612ac070c5117e3ae8);
  background-size: cover;
  width: 350px;
  height: 450px;
  position: absolute;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  left: 50%;
  margin-top: 150px;
}

.card1 > .overlay,
.card2 > .overlay,
.card3 > .overlay,
.card4 > .overlay {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding-top: 20px;
}

.card1 .title,
.card2 .title,
.card3 .title,
.card4 .title {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 30px;
  width: 100%;
  letter-spacing: 1.5px;
  display: block;
  margin-bottom: 30px;
}

.card1 .description,
.card2 .description,
.card3 .description,
.card4 .description {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 20px;
  width: 100%;
  letter-spacing: 1.5px;
  display: block;
  margin-bottom: 30px;
}

@media only screen and (min-width: 1000px) {
  .card1,
  .card2,
  .card3,
  .card4 {
    height: 750px;
  }

  .card1 > .screenshot,
  .card2 > .screenshot,
  .card3 > .screenshot,
  .card4 > .screenshot {
    margin-top: 50px;
    background: url(/images/ss_d.png?99da89a97435b61411a0334a7a6d6ebc);
    width: 900px;
    height: 600px;
    background-size: cover;
  }

  .card1 > .screenshot1,
  .card2 > .screenshot1,
  .card3 > .screenshot1,
  .card4 > .screenshot1 {
    margin-top: 100px;
    background: url(/images/ss_d.png?99da89a97435b61411a0334a7a6d6ebc);
    width: 900px;
    height: 600px;
    background-size: cover;
  }

  .card1 > .overlay,
  .card2 > .overlay,
  .card3 > .overlay,
  .card4 > .overlay {
    height: 100px;
    padding-top: 60px;
  }
}

.card1 {
  background: #315989;
}

.card1 > .overlay {
  background: rgba(37, 66, 109, 0.9);
}

.card2 > .overlay {
  background: rgba(150, 57, 44, 0.9);
}

.card2 {
  background: #bc4838;
}

.card3 {
  height: 500px;
  background: #42548e;
}

.card4 {
  height: 150px;
  background: #bf4b26;
}

@media only screen and (min-width: 600px) {
  div.container {
    width: 100%;
    margin-left: 0px;
  }
}

nav div.left,
nav div.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 40px);
  position: absolute;
  bottom: 0px;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
  background: white;
}

nav div.center {
  -webkit-transform: translate(-50%, -33%);
          transform: translate(-50%, -33%);
  position: absolute;
  left: 50%;
}

nav div.center button {
  background: #0079bf;
  border: none;
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 60px;
  padding-top: 5px;
  color: white;
}

nav div.center button span {
  display: none;
}

nav div.left button.primary,
nav div.right button.primary {
  display: unset;
}

nav div.left button,
nav div.right button {
  border: none;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  color: #0079bf;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
}

nav div.left button span,
nav div.right button span {
  display: none;
}

nav div.left button:hover,
nav div.right button:hover {
  background: #f4f4f4;
  -webkit-transition: 200ms;
  transition: 200ms;
}

nav div.left button.router-link-active,
nav div.right button.router-link-active {
  background: #eeeeee;
}

nav div.left button.router-link-active i,
nav div.right button.router-link-active i {
  color: #0079bf;
}

nav div.left {
  left: 0;
}

nav div.right {
  right: 0;
}

@media only screen and (min-width: 600px) {
  nav {
    position: fixed;
    width: 80px;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    display: block;
  }

  nav div.left,
  nav div.right {
    width: 50px;
    position: relative;
    top: 10px;
    left: 20px;
    height: 50px;
  }

  nav div.left button,
  nav div.right button {
    border: none;
    background: none;
    color: #42548e;
    max-width: 40px;
    position: relative;
    height: 40px;
    display: unset;
    padding-top: 3px;
    margin-bottom: 15px;
    border-radius: 40px;
  }

  nav div.left button i,
  nav div.right button i {
    font-size: 20px;
  }

  nav div.right {
    height: 100%;
    margin-top: 20px;
    display: inline-block;
  }

  nav div.center {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    position: relative;
    height: 50px;
    width: 50px;
    left: 15px;
    top: 0px;
    margin-top: 20px;
  }

  nav div.center button {
    width: 50px;
    height: 50px;
  }

  nav div.center button i {
    font-size: 20px;
  }
}

.card {
  margin-top: 20px;
  background: white;
  border-radius: 3px;
  max-width: 750px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 15px 20px;
  margin-bottom: 10px;
}

.card span.title {
  font-family: 'Ubuntu', sans-serif;
  white-space: 1.5px;
  display: block;
  margin-bottom: 25px;
  font-size: 27px;
}

input.classic {
  border: solid 2px #eee;
  width: 100%;
  height: 35px;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 5px;
}

div.form button.submit {
  border: none;
  background: none;
}

div.form button.submit:focus {
  outline: 0;
}

div.error,
div.success {
  border: solid 2px #eee;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 25px;
}

div.error {
  background: #e3342f;
  color: white;
}

div.success {
  background: #38c172;
  color: white;
}

div.form input.classic {
  margin-bottom: 15px;
  width: calc(100% - 14px);
}

div.form input.invalid {
  border: solid 2px #e3342f;
}

div.form input.valid {
  border: solid 2px #38c172;
}

div.form input.classic:focus {
  outline: 0;
}

div.form span.label {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 5px;
}

div.form button.submit {
  border-radius: 35px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  background: #0079bf;
  margin-top: 20px;
}

div.form button.submit:hover {
  background: #42548e;
}

@media only screen and (min-width: 600px) {
  div.container > div:not(.auth) {
    width: calc(100% - 80px);
    margin-left: 80px;
  }
}

